@model Rental

<h1>Potwierdzenie Rezerwacji</h1>
<p>Dziękujemy za złożenie zamówienia!</p>
<p>Samochód: @Model.Car.Brand @Model.Car.Model</p>
<p>Od: @Model.RentalStart.ToShortDateString()</p>
<p>Do: @Model.RentalEnd.ToShortDateString()</p>
<p>Cena: @Model.Price PLN</p>
<a href="/">Wróć do strony głównej</a>