@model IEnumerable<CarRentalStudio.Models.Car>

@{
    ViewData["Title"] = "CarsMainPanel";
}


<div class="cars-container">
   @foreach (var car in Model)
   {
       <div class="car-tile">
            <a href="@Url.Action("Details", new { id = car.Id })"><img src="@car.Image" alt="Samochod" class="car-image"></a>
           <h3>@car.Brand @car.Model</h3>
           <p class="price">od <span class="price-value">@car.DailyRate zł</span></p>
           <div class="car-details">
               <div class="detail"><img src="~/images/icons/acceleration.svg" alt=""> @car.Acceleration s do 100km/h</div>
               <div class="detail"><img src="~/images/icons/gearshift.png" alt=""> @car.Transmission</div>
               <div class="detail"><img src="~/images/icons/power.svg" alt="">@car.HorsePower KM / @car.Torque NM</div>
                <div class="detail"><i class="fa-solid fa-gas-pump"></i>@car.FuelType</div>
           </div>
            <a href="@Url.Action("Details", new { id = car.Id })" class="details-button">Zobacz szczegóły</a>
            
       </div>
   }
</div>


