@model IEnumerable<CarRentalStudio.Models.Car>
<div style="margin-bottom: 10px;">
    <a href="#" id="add-car-link" class="add-car-link">Add Car</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>
                    <a href="@Url.Action("EditCar", "Admin", new { id = car.Id })" class="edit-car-link btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteCar", "Admin", new { id = car.Id })" class="delete-car-link btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

