@model IEnumerable<CarRentalStudio.Models.Rental>
<div style="margin-bottom: 10px;">
    <a href="#" id="add-rental-link" class="add-rental-link">Add Rental</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Car</th>
            <th>Client</th>
            <th>Rental Date</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.Id</td>
                <td>@rental.Car.Brand @rental.Car.Model</td>
                <td>@rental.Client.UserName</td>
                <td>@rental.RentalStart.ToString("yyyy-MM-dd")</td>
                <td>@rental.RentalEnd.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("EditRental", "Admin", new { id = rental.Id })" class="edit-rental-link btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteRental", "Admin", new { id = rental.Id })" class="delete-rental-link btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
